{% extends 'index.html' %}

{% block content %}

<table>
  <tr>
    
    <th>Project</th>
    <th>Created</th>
    <th> Total up Votes</th>
    <th>Vote Ratio</th>
    <th>Edit</th>
    <th>View</th>

  </tr>
  {% for p in project %}
  <tr>
   
    <td> {{p.title}} </td>
    <td> {{p.created}} </td>
    <td> {{p.vote_total}} </td>
    <td> {{p.vote_ratio}} % </td>
    <td> <a href=" /updateform/{{p.id}} ">Edit</a> </td>
    <td> <a href=" /bye/{{p.id}} ">View</a> </td>
    <td> <a href=" /deleteproject/{{p.id}} ">Delete</a> </td>




  </tr>
  {% endfor %}
</table>

{% endblock content %}